@use 'utils/variables' as vars; //as vars alias pour raccourcir les noms de module variables.
@use 'utils/mixins' as mix;

@keyframes steps-turn{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes translate-X{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translate-Y{
    from{
        opacity: 0;
        transform: translateY(100%);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes rotate-span {
    from {
        transform: rotate(0deg) scale(0);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes hidden{
    to{
        visibility: hidden;
    }
}






   