@charset "UTF-8";
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

/*Header*/
header img {
  display: block;
  width: 175px;
  margin: 15px auto;
}

/****Location***/
.location {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 -2px 4px rgba(0, 0, 0, 0.15);
  color: #353535;
}
.location input {
  border: none;
  background-color: #eaeaea;
  font-size: 14px;
  font-weight: 500;
}

/* Intro*/
.intro {
  padding: 50px 20px;
  margin-top: 4px;
  background-color: #f6f6f6;
  text-align: center;
}
.intro * {
  margin-bottom: 15px;
}
.intro p {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
}

/***Fonctionnement*/
.steps {
  padding: 50px 20px;
}
.steps ol {
  list-style: none; /* anule la numérotation par défaut de la balise ol*/
  counter-reset: steps-counter; /* Réinitialiser le compteur à 0. Cela permet de commencer la numérotation à partir de 1*/
  padding: 0;
}

.steps .list-item {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  position: relative;
}
.steps .list-item::before {
  counter-increment: steps-counter; /* Incrementer le compteur de 1 pour chaque élément de la liste*/
  content: counter(steps-counter);
  position: absolute;
  left: -10px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
}
.steps .list-item__icon {
  color: #7e7e7e;
}
.steps .list-item__icon--color {
  color: #9356DC;
}
.steps .list-item__icon i {
  font-size: larger;
}
.steps .list-item__title {
  font-weight: 500;
}

/*Restaurants*/
.restaurants {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.card {
  background-color: #fff;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.card-image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.card-image p {
  display: inline-block;
  padding: 5px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  position: absolute;
  right: 15px;
  top: 20px;
}

.card-text {
  padding: 10px;
}
.card-text * {
  margin-bottom: 5px;
}
.card-text h3 {
  font-size: 18px;
}
.card-text p {
  font-size: 17px;
  font-weight: 300;
}

.heart-checkbox input {
  visibility: hidden;
}
.heart-checkbox .fa-heart {
  position: absolute;
  right: 25px;
  bottom: 30px;
  font-weight: 300;
  font-size: 22px;
}

/*# sourceMappingURL=styles.css.map */
