@charset "UTF-8";
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.section-title {
  font-family: "" Roboto ", sans-serif";
  font-size: 24px;
  margin-bottom: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 185px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "" Roboto ", sans-serif";
  font-weight: 400;
  font-size: 17px;
  margin-top: 20px;
  padding: 0 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
}

img {
  width: 100%;
  object-fit: cover;
}

header img {
  display: block;
  width: 175px;
  margin: 15px auto;
}

/* Footer*/
footer {
  background-color: #353535;
  color: #fff;
  padding: 30px 20px;
}
footer h3 {
  font-family: "Shrikhand,serif";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 5px;
  font-family: "" Roboto ", sans-serif";
  font-weight: 300;
}

.icon-ustensils {
  gap: 15px;
}

.icon-handshake {
  gap: 10px;
}

.icon-ustensils, .icon-handshake {
  display: flex;
  font-family: "" Roboto ", sans-serif";
  font-weight: 400;
}

/****Location***/
.location {
  background-color: #eaeaea;
  gap: 17px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 -2px 4px rgba(0, 0, 0, 0.15);
  color: #353535;
}
.location input {
  border: none;
  background-color: #eaeaea;
  font-family: "" Roboto ", sans-serif";
  font-weight: 500;
  font-size: 14px;
}

/* Intro*/
.intro {
  margin-top: 4px;
  padding: 50px 20px;
  background-color: #f6f6f6;
  text-align: center;
}
.intro * {
  margin-bottom: 15px;
}
.intro h1 {
  font-family: "" Roboto ", sans-serif";
  font-weight: 700;
  font-size: 28px;
}
.intro p {
  color: #353535;
  font-family: "" Roboto ", sans-serif";
  font-weight: 300;
  font-size: 18px;
}

/***Fonctionnement*/
.steps {
  padding: 50px 20px;
}
.steps ol {
  list-style: none; /* anule la numérotation par défaut de la balise ol*/
  counter-reset: steps-counter; /* Réinitialiser le compteur à 0. Cela permet de commencer la numérotation à partir de 1*/
  padding: 0;
}

.steps .list-item {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  gap: 15px;
  position: relative;
  cursor: pointer;
}
.steps .list-item:hover i {
  color: #9356DC;
}
.steps .list-item::before {
  counter-increment: steps-counter; /* Incrementer le compteur de 1 pour chaque élément de la liste*/
  content: counter(steps-counter);
  position: absolute;
  left: -10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #fff;
}
.steps .list-item__icon {
  color: #7e7e7e;
}
.steps .list-item__icon--color {
  color: #9356DC;
}
.steps .list-item__icon i {
  font-family: "" Roboto ", sans-serif";
  font-size: larger;
}
.steps .list-item__title {
  font-family: "" Roboto ", sans-serif";
  font-weight: 500;
}

/*Restaurants*/
.restaurants {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.card {
  background-color: #fff;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.card-image img {
  height: 175px;
}
.card-image p {
  display: inline-block;
  padding: 5px;
  color: #008766;
  font-family: "" Roboto ", sans-serif";
  font-weight: 500;
  font-size: 14px;
  background-color: #99E2D0;
  position: absolute;
  right: 15px;
  top: 20px;
}

.heart-checkbox {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.heart-checkbox .fa-heart {
  font-family: "" Roboto ", sans-serif";
  font-weight: 300;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.heart-checkbox .fa-heart:hover {
  font-weight: 700;
  font-family: "" Roboto ", sans-serif";
  font-weight: 700;
  color: transparent;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
}
.heart-checkbox input {
  visibility: hidden;
}

.card-text {
  padding: 10px;
}
.card-text h3 {
  font-family: "" Roboto ", sans-serif";
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
.card-text p {
  font-family: "" Roboto ", sans-serif";
  font-weight: 300;
  font-size: 17px;
}

/* Menu Restaurants*/
header {
  position: relative;
}
header .fa-arrow-left {
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.menu img {
  height: 375px;
}

.menu section {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  margin-top: -50px;
  padding: 30px 20px;
  position: relative;
}
.menu section h1 {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 27px;
  animation: translate-X 0.4s linear;
}
.menu section h1:hover::after {
  font-family: "" Roboto ", sans-serif";
  font-weight: 900;
  -webkit-background-clip: text;
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  background-clip: text;
}
.menu section h1::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  margin-left: 35px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.menu section article {
  margin-top: 25px;
}

.menu h2 {
  font-family: "" Roboto ", sans-serif";
  font-weight: 300;
  position: relative;
  animation: translate-X 0.5s linear;
}
.menu h2::after {
  content: "";
  border: 2px solid #99E2D0;
  width: 40px;
  position: absolute;
  left: 0;
  top: 25px;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  animation: translate-Y 0.4s linear forwards;
}
.menu ul li {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  animation: translate-Y 1s ease-in-out forwards;
  cursor: pointer;
}
.menu ul li:hover button {
  margin-right: 0;
}
.menu ul li:nth-child(1) {
  animation-delay: 0s;
}
.menu ul li:nth-child(2) {
  animation-delay: 0.3s;
}
.menu ul li:nth-child(3) {
  animation-delay: 0.6s;
}

.menu-description {
  padding: 15px;
  width: 75%;
}
.menu-description h3 {
  font-family: "" Roboto ", sans-serif";
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.menu-description p {
  font-family: "" Roboto ", sans-serif";
  font-weight: 300;
  font-size: 15px;
}
.menu-description h3, .menu-description p {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  color: #353535;
  font-family: "" Roboto ", sans-serif";
  font-weight: 700;
  font-size: 15px;
  position: relative;
  margin-left: auto;
  top: 40px;
  right: 20px;
}

.menu button {
  width: 60px;
  background: #99E2D0;
  border: none;
  margin-right: -60px;
  transition: margin-right 0.3s ease-in-out;
}
.menu button .fa-check {
  padding: 3px;
  background-color: #fff;
  border-radius: 50%;
  color: #99E2D0;
}

.btn-order {
  text-align: center;
  animation: translate-X 0.5s;
}

/*Media queries Desktop*/
/*Page d'acceuil*/
@media (max-width: 1440px) and (min-width: 1024px) {
  .location {
    box-shadow: none;
  }
  .intro {
    margin-top: 0;
    padding: 25px;
  }
  .intro h1 {
    font-family: "" Roboto ", sans-serif";
    font-size: 40px;
  }
  .steps {
    padding: 50px 180px;
  }
  .steps ol {
    display: flex;
    justify-content: space-between;
  }
  .steps ol .list-item {
    width: 30%;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  .steps ol .list-item__icon {
    margin: 35px;
  }
  .restaurants {
    padding: 50px 180px;
  }
  .restaurants .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 25px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 50px 0 0;
    gap: 75px;
  }
  footer .list-group {
    display: flex;
    gap: 50px;
  }
  footer .list-group ul {
    display: flex;
    gap: 15px;
  }
  /*page Menu*/
  .menu section {
    margin: -35px 150px 0 150px;
    padding: 50px 180px;
  }
  .menu section h1 {
    text-align: center;
  }
}
/*media queries tablette*/
@media (max-width: 1023.98px) and (min-width: 768px) {
  .location {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .intro h1 {
    font-family: "" Roboto ", sans-serif";
    font-size: 34px;
  }
  .steps {
    padding: 50px 180px;
  }
  .restaurants {
    padding: 50px 180px;
  }
  footer {
    display: flex;
    padding: 50px 0 0 50px;
    gap: 50px;
  }
  footer .list-group {
    display: flex;
    gap: 20px;
  }
  footer .list-group ul {
    display: flex;
    gap: 15px;
  }
  footer .list-group ul p {
    font-family: "" Roboto ", sans-serif";
    font-size: 15px;
  }
  /*page Menu*/
  .menu section {
    margin: -35px 100px 0 100px;
    padding: 50px 100px;
  }
  .menu section h1 {
    text-align: center;
  }
}
/*loader*/
.loader {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  animation: hidden 1s ease-in-out forwards;
}
.loader .letters span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "" Roboto ", sans-serif";
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: #fff;
  animation: rotate-span 1s infinite ease-in-out;
}
.loader .letters span:nth-child(1) {
  background-color: #9356DC;
  animation-delay: 0s;
}
.loader .letters span:nth-child(2) {
  background-color: #FF79DA;
  animation-delay: 0.3s;
}
.loader .letters span:nth-child(3) {
  background-color: #99E2D0;
  animation-delay: 0.6s;
}

@keyframes steps-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translate-X {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes translate-Y {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotate-span {
  from {
    transform: rotate(0deg) scale(0);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes hidden {
  to {
    visibility: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
